[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-mail = "*"
flask-restful = "*"
flask-cors = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
faker = "*"
python-dotenv = "*"
gunicorn = "*"
flask-migrate = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
